.createDiet{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/wall.png);
    box-sizing: border-box;
    padding: 20px;
}
.diet{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
} 
.diet-box{
    width: 20rem;
    height: auto;
    background-color: rgb(1, 0, 19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow:0 10px 8px #845cf1dc
}
.diet-box p>input{
    border-radius: 10px;
    border: none;
}
.diet-box img{
    width: 5rem;
    height: 5rem;
    object-fit:cover;
    border-radius: 10px;
}
.diet-btn{
    width: 5rem;
    height: 2rem;
    background-color: white;
    border-radius: 10px;
    border: none;
}